extends layout

block content
  p
  h4
    | Click on one of the links below to auto generate a request to the backend as a real user or a tester
  p
  p
    a(href='/productpage?u=normal') Normal user
  p
    a(href='/productpage?u=test') Test user
